<div id="easyui-layout-content" class="easyui-layout"
	data-options="fit:true">
	<table id="dg" title="通道商列表" class="easyui-datagrid"
		data-options="fit:true,remoteSort:true,pageSize:100,pageList:[100,125]"
		style="width: auto; height: auto"
		th:attr="url=@{/admin/companys/data/list},data-save-url=@{/admin/companys/add},data-update-url=@{/admin/companys/update},data-delete-url=@{/admin/companys/delete},statusJSON=${statusJSON}"
		toolbar="#toolbar" pagination="true" rownumbers="true"
		fitColumns="true" singleSelect="true">
		<thead>
			<tr>
				<th field="name" data-options="width:80,halign:'center'"
					sortable="true">通道商名称</th>
				<th field="setting" data-options="width:80,halign:'center'"
					sortable="true">通道商参数设置</th>
				<th field="phone" data-options="width:80,halign:'center'"
					sortable="true">通道商联系电话</th>
				<th field="email" data-options="width:80,halign:'center'"
					sortable="true">通道商EMAIL</th>
				<th field="address" data-options="width:80,halign:'center'"
					sortable="true">通道商联系地址</th>
				<th field="createdDate" data-options="width:80,halign:'center'"
					sortable="true">加入时间</th>
				<th field="isstatus" formatter="app.business.company.formatStatus"
					data-options="width:80,halign:'center'" sortable="true">目前状态</th>
				<th field="id" formatter="app.business.company.formatToolBtns"
					data-options="width:120,halign:'center',align:'center'">操作</th>
			</tr>
		</thead>
	</table>
	<div id="toolbar" style="padding: 5px; height: auto">
		<div>
			<form id="privielges_search_form">
				<label>名称:</label> <input type="text" id="f_name" name="f_name"
					style="width: 156px" /> <a href="#" class="easyui-linkbutton"
					iconCls="icon-search" onclick="app.business.company.onSearch()"
					style="margin-left: 10px;">查询</a>			<a href="javascript:void(0)" class="self-button easyui-linkbutton"
				iconCls="icon-add" plain="true"
				onclick="app.business.company.newCompany()">新增</a>
			</form>
		</div>
	</div>

	<div id="companys-dlg" class="easyui-dialog"
		style="width: 680px; height: 350px; padding: 10px 20px 0"
		closed="true" buttons="#dlg-buttons"
		data-options="resizable:true,modal:true">
		<form id="companys-fm" method="post" novalidate="novalidate">

			<div class="fitem">
				<div class="newWindow">
					<label>通道商名称：</label> <input name="name" class="easyui-validatebox"
						required="required" validtype="length[1,10]"
						invalidMessage="有效长度1-10" />
				</div>
			</div>
			<div class="fitem">
				<div class="newWindow">
					<label>通道商联系电话：</label> <input name="phone"
						class="easyui-validatebox" />
				</div>
			</div>
			<div class="fitem">
				<div class="newWindow">
					<label>通道商EMAIL：</label> <input name="email"
						class="easyui-validatebox" />
				</div>
			</div>
			<div class="fitem">
				<div class="newWindow">
					<label>通道商联系地址：</label> <input name="address"
						class="easyui-validatebox" />
				</div>
			</div>
			<div class="fitem">
				<div class="newWindow">
					<label>参数设置：</label>
					<textarea name="setting" width="300px" height="100px"></textarea>
				</div>
			</div>
			<div class="fitem">
				<div class="newWindow">
					（参数设置：短信：SMS|手机号码|业务内容|目的号码|LINKID|状态报告|状态报告成功内容|MR <br />IVR部分：IVR|手机号码|目的号码|开始时间|终止时间|时间格式）注意：要区分大小写<br />
					IVR部分：IVR2|手机号码|目的号码|时长|LINKID）注意：要区分大小写
				</div>
			</div>
			<div class="fitem">
				<div class="newWindow">
					<label>状态：</label> <select class="easyui-combobox" name="isstatus"
						style="width: 156px; height: 30px;" required="required"
						data-options="valueField:'value',textField:'text', editable:false, panelHeight:'auto'"
						th:attr="url=@{/admin/users/data/status.json}"></select>
				</div>
			</div>

		</form>
	</div>
	<div id="dlg-buttons">
		<a href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-ok" onclick="app.business.company.saveCompany()">确定</a>
		<a href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-cancel"
			onclick="javascript:$('#companys-dlg').dialog('close')">取消</a>
	</div>
	<div id="companys-setting" class="easyui-dialog"
		style="width: 480px; height: 250px; padding: 10px 20px 0"
		closed="true" data-options="resizable:true,modal:true"></div>
</div>
<!-- end center -->
<script type="text/javascript"
	th:src="@{/assets/js/business/company.js}"></script>
<script>
	app.business.company.init();
</script>