<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="shortcut icon" th:href="@{/assets/img/common/icon.ico}"/>
<title th:inline="text">400页面 - [[${beans.appConfig.name}]]</title>
<link rel="stylesheet" type="text/css" th:href="@{/assets/lib/easyui1.3.6/themes/default/easyui.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/assets/lib/easyui1.3.6/themes/icon.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/admin/index.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/common.css}" />
</head>

<body class="error500">
  <div class="cloud"></div>

  <div class="img500">
    <a th:href="@{/}" class="back"><img th:src="@{/assets/img/common/back.jpg}" width="177" height="104" border="0"/></a>
  </div>

  <div class="Copyright">
   
  </div>

</body>
</html>
